*, *::before, *::after {box-sizing: border-box;}
img {max-width: 100%; vertical-align: bottom;}

/* NAVBAR / HEADER */
nav{
position: absolute;
top: 0;
left: 0;
right: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin: 0;
z-index: 1;
}

nav img{
display: block;
width: 250px;
height: auto;
padding-top: 15px;
}

nav ul a{
font-family: sans-serif;
font-size: 1rem;
font-weight: 300;
color: white;
text-decoration: none;
text-transform: uppercase;
padding: 0 15px;
list-style: none;
}

nav ul{
padding-inline-start: 0px;
margin-left: 0;
}

nav ul li{
display: inline;
text-align: center;
}

header{
display: flex;
min-height: 450px;
height: 95vh;
justify-content: center;
align-items: center;
text-align: center;
font-family: 'Nunito', sans-serif;
font-size: 35px;
font-weight: 900;
line-height: 45px;
text-shadow: 0px 5px 12px #4A2409;
color: white;
margin: 0;
padding: 10px;
background-color: 4A2409;
background-image: linear-gradient(#4A2409, rgba(220,220,220,0)), url(images/header-phoneview.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

/* FRAMES: BODY/CONTAINER */
body{
background-color: #42647a;
margin: 0px;
padding: 0px;
}

.container{
position: relative;
top: 0;
background-color: white;
}

/* MAIN CONTENT */
main{
display: flex;
flex-direction: column;
align-items: center;
margin-left: auto;
margin-right: auto;
width: 80%;
}

section div{
width: 80%;
}

main section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 75%;
margin-left: auto;
margin-right: auto;
}

.main-img{
width: 80%;
height: auto;
padding-bottom: 15px;
}

.coffee-sign{
display: block;
padding-top: 30px;
padding-bottom: 30px;
}

#menu{
display: flex;
flex-direction: column;
margin: 15px auto;
width: 80%;
}

#menu div{
display: flex;
flex-direction: column;
align-items: center;
width: 80%;
justify-content: flex-end;
}

#drink{
background-image:
linear-gradient(0deg, #4A2409, 30%, transparent), 
url(images/drink-menu.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: auto;
aspect-ratio: 9/6;
border-radius: 10px;
padding: 10px;
margin: 15px;
}

#food{
background-image:
linear-gradient(0deg, #4A2409, 30%, transparent), 
url(images/food-menu.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: auto;
aspect-ratio: 9/6;
border-radius: 10px;
padding: 10px;
margin: 15px;
}

/* FOOTER */
footer{
display: flex;
flex-direction: column;  
align-items: center;
border-top: lightgray 2px solid;
margin: 15px auto;
padding: 15px;
text-align: center;
}

footer img{
padding: 25px;
}

/* TEXT-STYLES */
.intro{
color: #6B350E;
text-align: center;
}

main h1{
font-size: 150%;
line-height: 35px;
padding-top: 15px;
}

h1{
font-family: Nunito, sans-serif;
font-size: 36px;
line-height: 45px;
margin: 0;
padding-bottom: 10px;
color: #6B350E;
}

h3{
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
font-size: 26px;
}

h4{
font-family: sans-serif;
font-weight: 400;
text-transform: uppercase;
margin: 55px auto 5px;
}

.textbox{
margin-block-start: 0;
margin-block-end: 0;
color: #6B350E;
font-family: Nunito;
padding-bottom: 30px;
}

#menu a{
text-decoration: none;
color: white;
font-weight: bolder;
font-family: Nunito;
font-size: 1.3em;
}

footer{
color: #6B350E;
font-family: Nunito;
line-height: 5px;
}

#copyright{
text-transform: uppercase;
font-weight: 100;
font-size: 0.8em;
}


/* MEDIA QUERY FOR <650px */
@media (min-width: 650px) {

/* MEDIA QUERY: HEADER / NAV */
header{
background-image: linear-gradient(#4A2409, rgba(220,220,220,0)), url(images/header-photo.png);
background-size: cover;
}

nav{
display: flex;
flex-direction: row;
justify-content: space-between;
}

nav img{
padding-left: 25px;
}

/* MEDIA QUERY: MAIN */
main section{
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
}

#reverse{
display: flex;
flex-direction: row-reverse;
align-items: center;
}

.main-img{
width: 300px;
height: 300px;
padding: 25px;
}

main h1{
text-align: start;
}

nav{
padding: 0 10px 0 10px;
vertical-align: baseline;
}

nav ul{
margin-block-start: 0;
margin-block-end: 0;
padding-top: 25px;
}

main{
padding: 25px;
}

.container{
margin: 10px 3% 10px 3%;
border-radius: 10px;
padding-top: 1px;
}

header{
border-radius: 10px;
margin: 10px 10px 10px 10px;
}

#menu{
display: flex;
flex-direction: row; 
padding: 15px;
}

#drink{
background-image: 
linear-gradient(0deg, #4A2409, 30%, transparent),
url(images/drink-menu.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: 300px;
border-radius: 10px;
padding: 10px;
margin: 10px;
}

#food{
background-image: 
linear-gradient(0deg, #4A2409, 30%, transparent),
url(images/food-menu.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: 300px;
border-radius: 10px;
padding: 10px;
margin: 10px;
}

footer section{
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
font-size: 75%;
}

footer h1{
font-size: 1.5em;
font-weight: 900;
padding-bottom: 0;
order: 1;
}

#email{
order: 2;
}
}